<form novalidate autocomplete='off' spellcheck='false' [formGroup]='form'>
    <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput placeholder='Phone'
        formControlName='value' required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName='type' required>
            <mat-option *ngFor="let phoneType of phoneTypes" [value]="phoneType">
              {{ phoneType }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
