<mat-card *ngIf="vm$ | async as vm">
    <button mat-icon-button class="close" (click)="cancel()">
        <mat-icon>
            close
        </mat-icon>
    </button>

    <h1>{{ title$ | async }}</h1>
    
    <form [formGroup]="vm.form">
        <app-contact-editor formControlName="contact">
        </app-contact-editor>
    </form>

    <div class="actions">
        <button mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty || !vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
